* {
    box-sizing: border-box;
}
header {
    color: rgb(255, 0, 0);
    font-size: 25px;
    text-align: center;
    display: flex;
    align-items: center;
    text-shadow: 2px 2px rgb(255, 255, 255);
}
body {
    background-color: rgb(235, 235, 235);
    color: black;
    text-align: center;
}
.describe {
    padding-right: 400px;
    font-size: 20px;
    text-align: left;
}
img {
    float: left;
    padding-left: 20px;
}
.logo {
    border: none!important;
    width: 150px;
    transition: width;
    padding-top: 20px;
    float: left;
    object-fit: contain;
}
.title {
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
    font-weight: 1000;
    color: rgb(58, 58, 58);
}
.order {
    font-size: 25px;
    text-align: center;
    padding-right: 400px;
    display: inline;
    padding-left: 10px;
}
.review {
    font-size: 25px;
    display: inline;
}