* {
    box-sizing: border-box;
}
header {
    color: rgb(253, 0, 0);
    font-size: 25px;
    display: flex;
    align-items: center;
}
body {
    background-color: rgb(235, 235, 235);
}
.main-p {
    color: black;
    text-align: left;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    
}
.cover-link {
    width: 400px;
    border: 10px double white;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    transition: border 1s,
    width 1s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    /*Add flex properties + make webpages display better*/
}
.logo {
    border: none!important;
    width: 150px;
    transition: width;
    padding-top: 20px;
    float: left;
    object-fit: contain;
}

.cover-link:hover {
    border-color: black;
    border-width: 1rem;
    border-style: groove;
    width: 450px;
}
.logo:hover {
    width: 150px;
}
.media-icons {
    font-size: 20px;
    text-align: right;
    padding-left: 0px;
    padding-right: 0px;
    color: black;
}
.describe {
    padding-right: 400px;
    font-size: 20px;
    text-align: left;
}
.cover {
    float: left;
    padding-left: 20px;
}
.title {
    font-size: 25px;
    text-align: center;
    padding-left: 10px;
    font-weight: 1000;
    color: rgb(58, 58, 58);
}
.shopping {
    font-size: 40px;
    color: black;
    padding-left: 130px;
    padding-right: 0px;
    padding-top: 100px;
}
.stores {
    font-size: 30px;
    color: black!important;
    padding-left: 860px;
    position: fixed;
    left: 525px;
}
.reviews {
    font-size: 30px;
    color: black!important;
    padding-left: 920px;
    position: fixed;
    left: 525px;
}